@charset "UTF-8";

/*話す対象相手の色を設定*/
.Link {
	color: #0000ff;
	text-decoration: none;
}

/*ダイレクトメッセージタイトルカラー*/
#Direct {
	color: #0033ee;
}

/*グループメッセージタイトルカラー*/
#Group {
	color: #ff80c0;
}

/*名前タグの色*/
.name {
	background-color: #e9eafe;
}

/*メッセージタグの色*/
.message {
	background-color: #fff4fc;
}

/*タイトルのマス目の色*/
.userTitle {
	background-color: #f4ffff;
}

/*メニューのレイアウト*/
.menu {
	margin-left: auto;
	margin-right: auto;
	border: "1";
	width: 500px;
	height: "60vh";
	cellspacing: "0";
	cellpadding: "3";
}

/*タイトルのレイアウト*/
.titleMenu {
	margin-left: auto;
	margin-right: auto;
	border: "1";
	width: "80px";
	height: "60vh";
	cellspacing: "0";
	cellpadding: "3";
}

/*ボタンホバー時リンクの色を変更*/
.Link:hover {
    background: #efefef;
	color: #dd00ff;
}

/*ダイレクトメッセージホバー時色を変更*/
#Direct:hover{
    background: #0033ee;
	color: #dddddd;
}

/*グループメッセージホバー時色を変更*/
#Group:hover{
    background: #ff80c0;
	color: #dddddd;
}


