@charset "UTF-8";

.Link {
	color: #0000ff;
	text-decoration: none;
}
#Direct
{
	color: #0033ee;
}
#Group
{
	color: #ee3300;
}
.name {
	background-color: #bfc2fb;
}
.message {
	background-color: #efc9c9;
}
