@charset "UTF-8";

.Link {
	color: #0000ff;
	text-decoration: none;
}
#Direct
{
	color: #0033ee;
}
#Group
{
	color: #ff80c0;
}
.name {
	background-color: #e9eafe;
}
.message {
	background-color: #fff4fc;
}
.back {
	background-color: #f4ffff;
}