@charset "UTF-8";

table {
	border-collapse: collapse;
}

.bgcolor1 {
	background: #fcffc8;
}

table.main {
	border: 1;
	background-color: #ddffff;
	border-collapse: collapse;
	border-style: double;
	align-content: center;
	align-items: center;
	width: 80%;
	height: 60vh;
	text-align: center;
}

table.main td {
	text-align: center;
	align-items: center;
	align-content: center;
	border-collapse: collapse;
	border-style: double;
}

table.main th {
	text-align: center;
	align-items: center;
	align-content: center;
	border-collapse: collapse;
	border-style: double;
}

table.typeA {
	border-collapse: collapse;
	border-style: double;
	background-color: #deffb5;
	align-items: center;
	align-content: center;
	text-align width: 300px;
}

table.typeA td {
	border-collapse: collapse;
	border-style: double;
	background-color: #deffb5;
	align-items: center;
	align-content: center;
	text-align width: 300px;
}

table.typeB {
	border-collapse: collapse;
	border-style: double;
	background-color: #f0fbff;
	align-items: left;
	align-content: left;
	text-align: left;
	width: 100%;
}

table.typeB td {
	border-collapse: collapse;
	border-style: double;
	background-color: #f0fbff;
	align-items: left;
	align-content: left;
	text-align: left;
	width: 100%;
}

table.typeB tr {
	border-collapse: collapse;
	background-color: #f0fbff;
	align-items: left;
	align-content: left;
	text-align: left;
	width: 100%;
}

/* タイトル背景色*/
table.typeA th.title {
	background-color: :#adf8d8
}
/*名前背景色*/
.name {
	background-color: :#fedaf8
}

input.fontSize {
	font-size: 400%;
}

button.temp1 {
	width: 70%;
	margin: 30px;
	padding: 10px;
	border: groove;
	background-color: #fec9bc;
	font-family: meiryo;
	font-size: 120%;
	color: #000000;
	cursor: pointer;
}

button.temp1:hover {
	width: 80%;
	margin: 30px;
	padding: 10px;
	border: groove;
	background-color: #faff8e;
	font-family: meiryo;
	font-size: 120%;
	color: #000000;
	cursor: pointer;
}

button.temp1:disabled {
	width: 75%;
	margin: 30px;
	padding: 10px;
	border: groove;
	background-color: #fefbba;
	font-family: meiryo;
	font-size: 120%;
	color: #d7fffd;
	cursor: default;
}
button.temp2 {
	width: 70%;
	margin: 30px;
	padding: 10px;
	border: groove;
	background-color: #aa9cfa;
	font-family: meiryo;
	font-size: 120%;
	color: #000000;
	cursor: pointer;
}

button.temp2:hover {
	width: 80%;
	margin: 30px;
	padding: 10px;
	border: groove;
	background-color: #e6e6e6;
	font-family: meiryo;
	font-size: 120%;
	color: #000000;
	cursor: pointer;
}

button.temp2:disabled {
	width: 75%;
	margin: 30px;
	padding: 10px;
	border: groove;
	background-color: #9d9d9d;
	font-family: meiryo;
	font-size: 120%;
	color: #d7fffd;
	cursor: default;
}