@charset "UTF-8";

/*背景色 */
#background {
	background-color: #ebffdd;
	color: #5947fe;
	border: 5px double #ebffdd;
}

/*話す対象相手の色を設定*/
.Link {
	text-decoration: none;
	color: #0000ff;
}

/*ボタンホバー時リンクの色を変更*/
.Link:hover {
    background: #efefef;
	color: #dd00ff;
}

/*トーク範囲*/
.torkRange {
	margin-left: auto;
	margin-right: auto;
	border: "1";
	width: "80vh";
	height: "60vh";
	cellspacing: "0";
	cellpadding: "3";
	text-align: justify;
	align-items: right;

}

/*トークの周り*/
.myTork {
	line-height: 270%;
	padding: .5em .150em;
	background-color: #bdfbf3;
	border-style: solid;
	border-width: 1px;
	border-color: #00ffff;
}

/*相手のトークの周り*/
.opponentTork {
	line-height: 270%;
	padding: .5em .150em;
	background-color: #fbca82;
	border-style: solid;
	border-width: 1px;
	border-color: #ff8000;
}


