@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

/*背景色 */
#background {
	background-color: #ebffdd;
	color: #5947fe;
	border: 5px double #ebffdd;
}

/*話す対象相手の色を設定*/
.Link {
	text-decoration: none;
	color: #0000ff;
}

/* 右寄 */
p.right {
	text-align: right;
}
p.temp {
	color: black;
}

/*ボタンホバー時リンクの色を変更*/
.Link:hover {
    background: #efefef;
	color: #dd00ff;
}

/*トーク範囲*/
.torkRange {
	margin-left: auto;
	border: "1";
	height: "60vh";
	cellspacing: "0";
	cellpadding: "3";
	text-align: justify;
	align-items: right;
	border-color: #b2b2b2;
	border-style: solid;
	border-width: 1px;
	width: 800px;
	position: relative;
	word-break: break-all;
}

/*トークの周り*/
.myTork {
	line-height: 270%;
	padding: .5em .150em;
	background-color: #d2ffff;
	border-style: solid;
	border-width: 1px;
	border-color: #00ffff;
}

/*相手のトークの周り*/
.opponentTork {
	line-height: 270%;
	padding: .5em .150em;
	background-color: #faff8e;
	border-style: solid;
	border-width: 1px;
	border-color: #feba54;
}


input.temp2 {
	width: 80px;
	margin: 5px;
	padding: 2px;
	border: 2px dashed #9d9d9d;
	background-color: #c5fedd;
	font-family: 'Amatic SC', cursive;
	font-size: 130%;
	font-weight:bold;
	border-radius: 2px;
	box-shadow: 0 0 0 3px #c5fedd;
	cursor: pointer;
}

input.temp2:hover {
	width: 90px;
	margin: 5px;
	padding: 2px;
	border: 2px dashed #a5fecb;
	background-color: #aa9cfa;
	font-family: 'Amatic SC', cursive;
	font-size: 130%;
	font-weight:bold;
	border-radius: 2px;
	box-shadow: 0 0 0 3px #aa9cfa;
	cursor: pointer;
}
