@charset "UTF-8";

/*タイトルの固定用*/
#Lock {
	padding: 5px 20px;
	position: fixed;
	background-color: #f6f6f6;
	border:5px double #bebebe;
	table-layout: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 1;
}