@charset "UTF-8";

/*タイトルの固定用*/
#Lock {
	padding: 1px 5px;
	position: fixed;
	background-color: #e0efff;
	border:5px double #c4ebec;
	table-layout: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 1;
}

/*ログアウトボタン用*/
input.logout {
	width: 25%;
	margin: 1px;
	padding: 1px;
	border: double;
	background-color: #e5ccff;
	font-family: meiryo;
	font-size: 80%;
	border-radius: 5px;
	color: #000000;
	cursor: pointer;
}

input.logout:hover {
	width: 25%;
	margin: 1px;
	padding: 1px;
	border: double;
	background-color: #c184ff;
	font-family: meiryo;
	font-size: 80%;
	border-radius: 5px;
	color: #000000;
	cursor: pointer;
}
